html,
body {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 50px;
  width: 500px;
  height: 700px;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  height: 100%;
  width: 100%;
  background-color: #a9a9a9;
  border-radius: 20px;
}

.screen {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  width: 80%;
  height: 100px;
  align-self: center;
  font-size: 2.2rem;
  padding: 10px;
}

.buttons-container {
  padding: 0;
  margin: 0;
  /* border: 1px solid orange; */
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button#clear {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 80px;
  width: 45%;
  margin-top: 20px;
  border-radius: 10px;
  background-color: palevioletred;
}

button#delete {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 80px;
  margin-top: 20px;
  width: 45%;
  border-radius: 10px;
  background-color: paleturquoise;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  margin-top: 25px;
  height: 75%;
  width: 80%;
}

.is-depressed {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  opacity: 0.9;
}

button {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  width: 20%;
  height: 20%;
  margin: 5px;
  cursor: pointer;
  font-size: larger;
}
